<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title }}</title>
</head>

<body>

    <h1>Dashboard DEMACYA</h1>

    {% if user %}
        <p>
            Bienvenido,
            <strong>{{ user.get("preferred_username", "Usuario") }}</strong>
        </p>
    {% endif %}

    <hr>

    <h2>Menú principal</h2>

    <button>Proceso</button>

    <br><br>

    <a href="/logout">
        <button>Salir</button>
    </a>

</body>
</html>